{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <legend class="border-bottom text-center">My Carts</legend>
    <div id="cart-list">

        {% if user.carts.all %}

            {% for cart in user.carts.all %}
                <a href="{{ cart.get_absolute_url }}" class="btn btn-primary btn-block mt-4 font-weight-bold">{{ cart.name }}</a>
            {% endfor %}

        {% else %}
            <p id="empty" class="display-4 text-center mt-4">You have no carts yet.</p>

        {% endif %}

        <!-- JS inserts here -->

    </div>

    {% if user.shared_carts.all %}
        <legend class="border-bottom text-center mt-4">Shared</legend>
        <div id="shared-carts">

            {% for cart in user.shared_carts.all %}
                <a href="{{ cart.get_absolute_url }}" class="btn btn-primary btn-block mt-4 font-weight-bold">{{ cart.name }}</a>
            {% endfor %}

        </div>
    {% endif %}

    <legend class="border-bottom text-center mt-4">Add Cart</legend>
    <form id="cart-form" class="form-group">
        <div class="col">
            <input type="text" id="cart-name" placeholder="Groceries..." class="form-control">
        </div>
        <input type="submit" value="Add" class="btn btn-secondary btn-block mt-4">
    </form>
</div>
<script src="{% static 'cart/js/cart-list.js' %}"></script>
{% endblock content %}
