{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container mt-4 text-center">
        <legend class="border-bottom">Share "{{ cart.name }}"</legend>
        <p class="text-center text-muted mt-4">
            Share by entering the username or email of the person you want to share your cart with.
            <br>
            (It has to be a registered user)
        </p>
        <form name="share" class="form-group" method="post" action="{% url 'cart:share-cart' cart.id %}">
            {% csrf_token %}

            <!-- Crispy Forms-->
            {{ form|crispy }}
            <div id="submit">
                <input type="submit" class="btn btn-primary btn-block" value="Share!">
            </div>
        </form>
    </div>

<!-- Nunjucks JS Templating -->
<script src="{% static 'js/nunjucks/nunjucks.min.js' %}"></script>
<script src="{% static 'js/nunjucks/views/templates.js' %}"></script>
<script>nunjucks.configure('{% static 'js/nunjucks' %}', { autoescape: true })</script>

<!-- MyFamily -->
<script src="{% static 'cart/js/share.js' %}"></script>
{% endblock content %}