<html>
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <style>
        a {
            text-decoration: none;
        }

        a h2 {
            color: black;
            font-size: 2rem;
            margin-bottom: 10px;
        }

        .sub {
            color: #2c2c2c;
        }
    </style>
</head>
<body>
<div>
    <a href="https://myfamily.unialt.no"><h2>MyFamilyCart</h2></a>
    <p class="intro">
        Hey, {{ username }}!
    </p>
    <p class="message">
        <strong>{{ sender }}</strong> shared a cart with you, have a look at it <a href="https://myfamily.unialt.no">here.</a>
    </p>
</div>
<p class="sub"><i>Sent from <a href="https://myfamily.unialt.no">myfamily.unialt.no</a>
    <br>
    Feel free to drop feedback at myfamily@unialt.no</i>
</p>

</body>
</html>