{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container mt-4 text-center">
        <legend class="border-bottom">Share "{{ cart.name }}"</legend>

        <form class="form-group" method="post" action="{% url 'cart:share-cart' cart.id %}">
            {% csrf_token %}

            <!-- Crispy Forms-->
            {{ form|crispy }}

            <input type="submit" class="btn btn-primary btn-block" value="Share!">
        </form>


    </div>

<script>
    // Inserting text between the fields of the Django Form. ( OR )

    document.addEventListener('DOMContentLoaded', () => {
      const legend = document.createElement('legend');
      legend.innerHTML = '&#11014; OR &#11015;';
      legend.classList.add('mt-4', 'display-4');

      document.querySelector('#id_username').parentElement.append(legend);
    })
</script>
{% endblock content %}