 <table class="table table-striped mt-4">
    <thead>
        <tr>
            <th width="15%">Quantity</th>
            <th>Item</th>
            <th width="15%"></th>
        </tr>
    </thead>
    <tbody id="item-list"></tbody>
</table>