{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="container mt-4 text-center">
        <legend class="mt-4">Your Top 50 Items</legend>
            <ul class="list-unstyled">
                {% if user.words.all %}
                    <table id="item-list" class="table table-striped mt-4">
                        <thead>
                            <tr>
                                <th hidden></th>
                                <th width="15%">#</th>
                                <th>Item</th>
                                <th width="15%"></th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for word in user.words.all|slice:":50" %}
{#                        <li> {{ word.count }} {{ word.name }}</li>#}
                            <tr>
                                <td hidden>{{ word.id }}</td>
                                <td>{{ word.count }}</td>
                                <td>{{ word.name }}</td>
                                <td><a href="#" class="btn btn-danger btn-sm delete">X</a></td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                {% else %}
                    <p id="empty" class="empty-state text-center mt-4">
                    As you add Items to your carts they will sum up here...
                    </p>
                {% endif %}

            </ul>
        <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#exampleModal">
            Reset Item Count
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header danger">
                <legend class="modal-title" id="exampleModalLabel">Resetting Item Count</legend>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
                </button>
              </div>
              <div class="modal-body">
                  Resetting your Item Count is not something you can undo, it
                  will also affect your autocompletes when adding a new item.
                  <br>
                  <br>
                  <span class="display-4">Are you sure?</span>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                  <a href="{% url 'delete-all-words' %}">
                      <button id="reset-items" type="button" class="btn btn-danger">Reset</button>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal end -->

    </div>
    <script src="{% static 'users/js/top50.js' %}"></script>
{% endblock content %}