{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <legend class="text-center display-4 border-bottom mt-4">About</legend>

        <legend class="text-center display-5 border-bottom mt-4">Create and share shopping lists</legend>
        <p>
            MyFamilyCart came to life as we (our) family needed a common
            place to save our shopping lists. The App lets you create different
            shopping carts (lists) where you can add and remove items.
        </p>
        <p>
            The app also has a Topp50 page where you can see what kind of items/groceries you buy
            the most. Further statistics might be introduced down the road should the need
            arise. If you have ideas feel free to look under the Open Source section
            and add a github issue, or simply send a mail to
            <a href="mailto:myfamily@unialt.no">myfamily@unialt.no</a>
        </p>

        <legend class="text-center display-5 border-bottom mt-4">Privacy</legend>
        <p>
            Your email is mainly used for password reset requests and will not be
            shared with others! You will only receive emails <u><i>if</i></u> there
            is a security breach or other important issues like major changes affecting
            your user experience or database changes.
        </p>
        <p>
            We collect yor words (items) for <i><u>your</u></i> predictions
            (autocomplete). These words are user specific and is not viewable /
            accessible between users. You are in full control of the word database
            and can delete them when ever you want in the Top50 view of the App.
        </p>
        <p>
            <i><u>We do not analyse or process your word (items)</u></i>
            They are there for your convenience.
        </p>

        <legend class="text-center display-5 border-bottom mt-4">Open Source</legend>
        <p>
            This site / app is completely free and opensource! The code is
            hosted on<u><i><a href="https://github.com/izznogooood/myfamilycart"> GitHub </a></i></u>
            where you can add issues (bugs / feature requests / feedback) contributing
            to the site.
        </p>
    </div>
{% endblock content %}